# Python
__pycache__/
*.py[cod]
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Environments
.env
.venv
env/
venv/

# Celery
celerybeat-schedule
celerybeat.pid

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Poetry
poetry.lock

# Docker
docker-compose.override.yml

# IDE
.idea/
.vscode/
TechTask_cw7.txt
.pre-commit-config.yaml
.flake8
